.plans-container {
    margin-top: 2rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.heading {
    gap: 5vw;
    font-size: 3.5vw;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plan {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2rem;
    background: rgb(117, 116, 116);
    padding: 1.5rem;
    width: 15rem;
}

.plan:nth-child(2) {
    transform: scale(1.1);
    background: rgb(237, 134, 0);
}

.plan>svg {
    fill: orange;
    width: 2rem;
    height: 2rem;
}

.plans>:nth-child(2)>svg {
    fill: white;
}

.plan>:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

.plan>:nth-child(3) {
    font-size: 3rem;
    font-weight: bold;
}

.plan>:nth-child(5) {
    font-size: 0.8rem;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature>img {
    width: 1rem;
}

.plans>:nth-child(2)>button {
    color: orange;
}

.plans-blur-1 {
    width: 32rem;
    height: 23rem;
    top: 6rem;
    left: 0rem;
}

.plans-blur-2 {
    width: 32rem;
    height: 23rem;
    top: 10rem;
    right: 0rem;
}




@media screen and (max-width: 768px) {
    .heading {
        font-size: 7vw;
        flex-direction: column;
        align-self: center;
    }

    .plans {
        gap: 4vw;
        flex-direction: column;
        gap: 3rem;
    }

    .plans-blur-1 {
        top: 15rem;
        left: 18vw;
    }

    .plans-blur-2 {
        top: 88rem;
        right: 10vw;
    }
}


@media screen and (max-width: 625px) {
    .plans-blur-1 {
        width: 48vw;
        height: 60vh;
        filter: blur(100px);
    }
    
    .plans-blur-2 {
        top: 82rem;
        right: 25vw;
        width: 48vw;
        height: 60vh;
        filter: blur(100px);
    }
    .plan:nth-child(2) {
        transform: scale(1);
    }
}